//**
// Sections
//**

section {
  display: block;
  padding: $padding;
}

.primary {
  background-color: $white;
}

.primary p {
  font-size: 1.4em;
  margin: 0 0 $padding/2;
  padding-left: 25px;
  @include columns(20em 3);
}

.secondary {
  background-color: $silver;
}

.secondary p {
  font-size: 1.4em;
  margin: 0 0 $padding/2;
  padding-left: 25px;
  @include columns(20em 3);
}

.tertiary {
  background-color: $red;
}
.tertiary p {
  font-size: 1.4em;
  margin: 0 0 $padding/2;
  padding-left: 25px;
  @include columns(1em 3);
}

