// base colors
//$color1: #353535;
//$color2: #3c6e71;
//$color3: #ffffff;
//$color4: #d9d9d9;
//$color5: #284b63;

//$color1: #261722;
$color1: #492d42;
$color2: #782347;
$color3: #f3CB51;
$color4: #BBB08A;
$color5: #EC9A46;

// Project color variables
$primary-color: $color1;
$secondary-color: #233e5b;
$tertiary-color: #aaa;
